section {
    width: 100vw;
    min-height: 100vh;
    background-color: #eeefef6e;
    .task {
        width: 90vw;
        height: auto;
        margin: auto;
        .inputBlock {
            width: 100%;
            display: flex;
            justify-content: space-between;
            input {
                width: 80%;
            }
            button {
                width: 15%;
            }
        }
    }
}