<section>

    <div class="task">

        <div class="header">
            <h1>Plan your day!</h1>
            <h3>User: Ivan Ivanov. Cout of task {{taskNumb}}</h3>
        </div>

        <hr>

        <div class="inputBlock">
            <input class="form-control" [(ngModel)]="text" type="text" #name="ngModel" >
            <button (click)="add()" type="submit" class="btn btn-success" [disabled]="this.name.invalid">Add</button>
        </div>

        <hr>

        <app-table [arr]="taskArr" (index)="indexElement($event)" (status)="changeStatus($event)" ></app-table>
    </div>
</section>

<!-- [taskStatus]="taskArr.status" -->
<!-- required pattern="^[a-zA-z0-9]{3,10}" -->